<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Edit Page</title>
</head>
<body>
    
    <h1>Edit Post</h1>

    <div>
        <form method="POST" >
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" value="{{post.title}}">
        <br>
        <label for="content">Post Content: </label>
        <input type="text" name="content" id="content" value="{{post.content}}">
        <br>
        
            <button formaction="/users/{{ post.user_id }}" formmethod="GET">Cancel</button>
            <button type="submit">Edit</button>
        </form>
    </div>
</body>
</html>